{{ 'basket.css' | asset_url | stylesheet_tag }}

<section class="banding">
  <article class="max">
    {% if product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="buying-option" style="display:none">
          <h4>
            {% if option.name == 'Size' and product.template_suffix == 'single' %}
              Bottle size
            {% else %}
              {{ option.name }}
            {% endif %}
          </h4>

          <div class="segmented-control">
            {% for value in option.values %}
              {% if option.name == 'Label' %}
                <input
                  type="radio"
                  name="{{ option.name }}"
                  value="{{ value }}"
                  id="{{ value }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                <label for="{{ value }}">
                  {{ value }}
                  {% if value == 'Standard' %}
                    <span> Free</span>
                  {% else %}
                    <span> + £3.00</span>
                  {% endif %}

                  <div class="thumbnail">
                    {% if value == 'Standard' %}
                      <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-standard.png?v=1731401733">
                    {% else %}
                      <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-festive.png?v=1731401734">
                    {% endif %}
                  </div>
                </label>
              {% else %}
                <input
                  type="radio"
                  name="{{ option.name }}"
                  value="{{ value }}"
                  id="{{ value }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                <label for="{{ value }}"> {{ value }} </label>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}

    {% else %}
      {% for option in product.options_with_values %}
        <div class="buying-option">
          <h4>
            {% if option.name == 'Size' and product.template_suffix == 'single' %}
              Bottle size
            {% elsif option.name == 'Label' and option.values.size <= 2 %}

            {% else %}
              {{ option.name }}
            {% endif %}
          </h4>
          {% if option.name != 'Label' %}
            <div class="segmented-control">
              {% for value in option.values %}
                <input
                  type="radio"
                  name="{{ option.name }}"
                  value="{{ value }}"
                  id="{{ value }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                <label for="{{ value }}"> {{ value }} </label>
              {% endfor %}
            </div>
          {% endif %}

          {% if option.name == 'Label' and option.values.size > 2 %}
            <div class="glide variant-options">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  {% for value in option.values %}
                    {% if value == 'standard' or value == 'Standard' %}
                      <li class="standard glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-standard.png">
                      </li>
                    {% elsif value == 'heart' %}
                      <li class="heart glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-heart.png">
                      </li>

                    {% elsif value == 'party' %}
                      <li class="party glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-party.png">
                      </li>

                    {% elsif value == 'gold' %}
                      <li class="gold glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-gold.png">
                      </li>
                    {% elsif value == 'floral' %}
                      <li class="floral glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-floral.png?v=1752853867">
                      </li>
                    {% elsif value == 'festive' %}
                      <li class="festive glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-festive.png?v=1731401734">
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">Previous</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">Next</button>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>


  <div class="tpo_option-label" data-error="">
        <div class="tpo_option-label-container " style="margin-bottom: undefinedpx;">
            <span class="form__label tpo_undefined" style="
                    font-size: undefinedpx;
                    color: undefined;
                    
                ">
                Personalise your bottle
            <span class="tpo_selected_values_span " style=""></span></span>
            <span class="tpo_option-required-indicator"> *</span>
            <div class="tpo_option-tooltip  tpo_hidden" style="margin-bottom: undefinedpx">
                 <span style="
                            font-size: undefinedpx;
                            
                      " class="tpo_option-tooltip-icon tpo_undefined" data-tooltip="">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99992 1.83334C4.59416 1.83334 1.83325 4.59425 1.83325 8C1.83325 11.4058 4.59416 14.1667 7.99992 14.1667C11.4057 14.1667 14.1666 11.4058 14.1666 8C14.1666 4.59425 11.4057 1.83334 7.99992 1.83334ZM0.833252 8C0.833252 4.04196 4.04188 0.833336 7.99992 0.833336C11.958 0.833336 15.1666 4.04196 15.1666 8C15.1666 11.958 11.958 15.1667 7.99992 15.1667C4.04188 15.1667 0.833252 11.958 0.833252 8ZM7.99992 5.16667C7.53968 5.16667 7.16659 5.53977 7.16659 6C7.16659 6.27614 6.94273 6.5 6.66659 6.5C6.39044 6.5 6.16659 6.27614 6.16659 6C6.16659 4.98748 6.9874 4.16667 7.99992 4.16667C9.01244 4.16667 9.83325 4.98748 9.83325 6C9.83325 6.36423 9.72652 6.70505 9.54247 6.99109C9.42718 7.17025 9.2924 7.3413 9.16812 7.49576C9.14539 7.524 9.12305 7.55165 9.1011 7.57882C8.99798 7.70646 8.90331 7.82363 8.81583 7.94385C8.60011 8.24033 8.49992 8.46313 8.49992 8.66667V9C8.49992 9.27614 8.27606 9.5 7.99992 9.5C7.72378 9.5 7.49992 9.27614 7.49992 9V8.66667C7.49992 8.13383 7.76153 7.69318 8.00723 7.3555C8.11104 7.21282 8.2248 7.0721 8.32825 6.94414C8.34897 6.91851 8.36928 6.89338 8.38901 6.86886C8.51248 6.71542 8.61757 6.58044 8.70152 6.44997C8.78486 6.32046 8.83325 6.16665 8.83325 6C8.83325 5.53977 8.46016 5.16667 7.99992 5.16667ZM7.99992 10.1667C8.27606 10.1667 8.49992 10.3905 8.49992 10.6667V11.3333C8.49992 11.6095 8.27606 11.8333 7.99992 11.8333C7.72378 11.8333 7.49992 11.6095 7.49992 11.3333V10.6667C7.49992 10.3905 7.72378 10.1667 7.99992 10.1667Z" fill="white"></path>
                            </svg>
                 </span>
            </div>
        </div>
        <div class="tpo_option-input-wrapper tpo_text-area"><textarea class="tpo_option-input tpo_text-box tpo_undefined" rows="3" name="properties[Personalise your label]" id="text-area-2491848" placeholder="Name your bottle" aria-label="Personalise your label" data-required="1"></textarea><span class="tpo_text-area-character-count absolute"></span><span class="tpo_additional-price absolute"></span></div><div class="tpo_option-help-text tpo_undefined">
                    <span>For fancy artwork on your label - contact us! </span>
                </div><div class="tpo_error-message tpo_undefined">This is a required field</div></div>
                
  <article class="max">
    hello
    <div class="easify-product-options"></div>
  </article>

  <article class="max">
    <div class="buy-this">
      <div class="summary">
        <div class="number-of-items">
          <div class="quantity">
            <button type="button" class="remove-quantity">−</button>
            <input type="number" value="1">
            <button type="button" class="add-quantity">+</button>
          </div>
        </div>
        <div class="subtotal-of-items hello">
          <span class="strike-price">{{ product.compare_at_price | money }}</span>

          {{ product.first_available_variant.price | money }}
        </div>
      </div>
      {% if product.selected_or_first_available_variant.available == false %}
        <!-- Product is out of stock -->
        <button class=" atc disabled" disabled>Out of stock</button>
      {% else %}
        <button class="pulse atc">Add to basket</button>
      {% endif %}
    </div>
  </article>
</section>
