{{ 'basket.css' | asset_url | stylesheet_tag }}

<section class="banding">
  <article class="max">
    {% if product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        <div class="buying-option" style="display:none">
          <h4>
            {% if option.name == 'Size' and product.template_suffix == 'single' %}
              Bottle size
            {% else %}
              {{ option.name }}
            {% endif %}
          </h4>

          <div class="segmented-control">
            {% for value in option.values %}
              {% if option.name == 'Label' %}
                <input
                  type="radio"
                  name="{{ option.name }}"
                  value="{{ value }}"
                  id="{{ value }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                <label for="{{ value }}">
                  {{ value }}
                  {% if value == 'Standard' %}
                    <span> Free</span>
                  {% else %}
                    <span> + £3.00</span>
                  {% endif %}

                  <div class="thumbnail">
                    {% if value == 'Standard' %}
                      <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-standard.png?v=1731401733">
                    {% else %}
                      <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-festive.png?v=1731401734">
                    {% endif %}
                  </div>
                </label>
              {% else %}
                <input
                  type="radio"
                  name="{{ option.name }}"
                  value="{{ value }}"
                  id="{{ value }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                <label for="{{ value }}"> {{ value }} </label>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}

    {% else %}
      {% for option in product.options_with_values %}
        <div class="buying-option">
          <h4>
            {% if option.name == 'Size' and product.template_suffix == 'single' %}
              Bottle size
            {% else %}
              {{ option.name }}
            {% endif %}
          </h4>
          {% if option.name != 'Label' %}
            <div class="segmented-control">
              {% for value in option.values %}
                <input
                  type="radio"
                  name="{{ option.name }}"
                  value="{{ value }}"
                  id="{{ value }}"
                  {% if forloop.first %}
                    checked
                  {% endif %}
                >
                <label for="{{ value }}"> {{ value }} </label>
              {% endfor %}
            </div>
          {% endif %}

          {% if option.name == 'Label' %}
            <div class="glide variant-options">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  {% for value in option.values %}
                    {% if value == 'standard' %}
                      <li class="standard glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-standard.png?v=1731401733" width="100%" height="100%">
                      </li>
                    {% elsif value == 'heart' %}
                      <li class="heart glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-heart.png?v=1738083204" width="100%" height="100%">
                      </li>

                    {% elsif value == 'party' %}
                      <li class="party glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-party.png?v=1738083205" width="100%" height="100%">
                      </li>

                    {% elsif value == 'gold' %}
                      <li class="gold glide__slide ">
                        <img src="https://cdn.shopify.com/s/files/1/0846/1136/7177/files/label-gold.png?v=1738083205" width="100%" height="100%">
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">Previous</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">Next</button>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
  <article class="max">
    <div class="buy-this">
      <div class="summary">
        <div class="number-of-items">
          <div class="quantity">
            <button type="button" class="remove-quantity">−</button>
            <input type="number" value="1">
            <button type="button" class="add-quantity">+</button>
          </div>
        </div>
        <div class="subtotal-of-items">
          <span class="strike-price">{{ product.compare_at_price | money }}</span>

          {{ product.first_available_variant.price | money }}
        </div>
      </div>
      {% if product.available == false %}
        <!-- Product is out of stock -->
        <button class=" atc" disabled>Out of stock</button>
      {% else %}
        <button class="pulse atc">Add to basket</button>
      {% endif %}
    </div>
  </article>
</section>
