<li>
  <a
    href="{{ product.url }}"
    style="background-image: url({{ product.featured_image | image_url }})"
  >
    <img
      alt=" Product image of whisky bottle"
      src="{{ product.featured_image | image_url: '1000x1000' }}"
      width="1000"
      height="1000"
    >
    <span class="deetz">
      <h4>{{ product.title }}</h4>
      <div class="reveal">
        <p>{{ product.type | truncate: 30 }}</p>

        {% if product.available == false %}
          <!-- Product is out of stock -->
          <sup> Out of stock</sup>
        {% elsif product.compare_at_price %}
          <sup class="buy pulse">{{ product.price | money }}</sup>
          <sup class="sale">{{ product.compare_at_price | money }}</sup>
        {% else %}
          <sup class="buy pulse">{{ product.price | money }}</sup>
        {% endif %}
      </div>
    </span>
  </a>
</li>
