<section class="wb-overflow-hidden-x">
<div class="wb-banded">
  <div class="wb-container">
    <div class="wb-padding">
      <span class="wb-photo-holder wb-about-photo-castle">
        <img
          class="wb-full-width"
          src="{{ 'wb-bothwell-castle.png' | asset_url }}"
          alt="Bothwell Castle"
        >
      </span>
      <h2 class="wb-medium-heading">How but?</h2>
      <p>
        We want people to enjoy whisky without fear. To explore Scotch and to have fun doing so. Drink whatever you like
        and however you like it. But
        <a href="https://www.drinkaware.co.uk/" target="_blank">drink responsibly</a>, and with good company.
      </p>
      <p>
        Head to the <a href="{{ pages.the-lab.url }}">blending lab</a> and fill your bottle with the whiskies that sound
        good to you. Once your bottle is full you can name it and declare yourself as the blender. Just have fun and
        trust your instincts!
      </p>
      <span class="wb-photo-holder wb-about-photo-saltire">
        <img class="wb-full-width" src="{{ 'wb-saltire-patch.png' | asset_url }}" alt="Saltire patch">
      </span>
    </div>
  </div>
</div>

<div class="wb-banded wb-hidden-mobile">
  <div class="wb-container">
    <div class="wb-padding">
      <h2 class="wb-medium-heading">Oor story</h2>
      <p>
        The idea came one day after we'd enjoyed a few drams at a whisky festival in Ayr (and perhaps enjoyed it
        slightly more than we should have). After some food and a snooze on the train back to Glasgow we went for a few
        pints&mdash;and that's when the idea came to us! This concept of allowing people to
        <a href="{{ pages.create.url }}">have their very own bottle of Scotch</a>... through a website!
      </p>
      <p>
        We were so excited! We discussed it more, drew up sketches, concept mocks, the works. Slowly but surely life got
        in the way and this idea was put back in the whisky cabinet until such a time arose that we said to each other
        "let's do it". And we did. Whisky Blender was officially established in 2011... and we've been having a dram
        guid time ever since!
      </p>
      <span class="wb-photo-holder wb-about-photo-acrospire">
        <img class="wb-full-width" src="{{ 'wb-acrospire.png' | asset_url }}" alt="Andy & Drew polaroid">
      </span>
    </div>
  </div>
</div>
{%- if section.blocks.size > 0 -%}
  <div class="wb-banded">
    <div class="wb-container">
      <div class="wb-padding">
        <h2 class="wb-medium-heading">{{ section.settings.featured_heading | default: "Look maw, we're famous!" }}</h2>
        <p>
          {{
            section.settings.featured_description
            | default: "Some of the places we've been featured over the years."
          }}
        </p>
        <div class="glide wb-features glide--ltr glide--carousel glide--swipeable">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides wb-logos">
              {%- for block in section.blocks -%}
                <li
                  class="glide__slide"
                  style="background-image: url('{{ block.settings.logo | image_url }}');"
                  {{ block.shopify_attributes }}
                >
                  {%- if block.settings.url != blank -%}
                    <a
                      href="{{ block.settings.url }}"
                      target="_blank"
                    >
                      {{- block.settings.text -}}
                    </a>
                  {%- else -%}
                    {{ block.settings.text }}
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endif -%}

{{ 'wb-about.css' | asset_url | stylesheet_tag }}

{% javascript %}
  new Glide('.wb-features', {
    type: 'carousel',
    gap: 100,
    perView: 4,
    autoplay: 1,
    animationDuration: 2000,
    animationTimingFunc: 'linear',
    hoverpause: true,
    breakpoints: {
      768: {
        perView: 2,
        gap: 10,
      },
      1024: {
        perView: 3,
        gap: 10,
      },
    },
  }).mount();
{% endjavascript %}

{% schema %}
{
  "name": "About Content",
  "settings": [
    {
      "type": "text",
      "id": "featured_heading",
      "label": "Featured section heading",
      "default": "Look maw, we're famous!"
    },
    {
      "type": "text",
      "id": "featured_description",
      "label": "Featured section description",
      "default": "Some of the places we've been featured over the years."
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "featured_logo",
      "name": "Featured Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "info": "Name or title for the featured item"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL",
          "info": "Optional - leave blank for no link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Content",
      "blocks": [
        {
          "type": "featured_logo",
          "settings": {
            "text": "Foodbeast",
            "url": "https://www.foodbeast.com/news/whiskey-blender-blend-your-own-whiskey-like-a-boss/"
          }
        },
        {
          "type": "featured_logo",
          "settings": {
            "text": "Alister & Paine",
            "url": "https://alisterpaine.com/2012/12/12/make-your-own-whisky-blend/"
          }
        },
        {
          "type": "featured_logo",
          "settings": {
            "text": "Lagom",
            "url": "https://readlagom.com/stories/whisky-talk-6-phrases-you-should-never-say.html"
          }
        }
      ]
    }
  ]
}
{% endschema %}
