{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}
{{ 'simple-lightbox.css' | asset_url | stylesheet_tag }}

<section class="banding">
  <article class="max">
    <p>
      {{ section.settings.keythings_text }}
    </p>
    <ul class="product-list">
      {% assign bottles = collections.promoted %}

      {% for product in bottles.products %}
        {% render 'product-display', product: product %}
      {% endfor %}
    </ul>
    <button onclick="location.href='/collections';" class="secondary-button">Our collections</button>
  </article>
</section>

{% schema %}
{
  "name": "Featured",
  "tag": "div",

  "presets": [
    {
      "name": "Featured"
    }
  ],
  "settings": [

    {
      "type": "textarea",
      "id": "keythings_text",
      "label": "Key Things Text",
      "default": "The key things you need to know about this site are that you can blend your own whisky (that's right, you read correctly), shop around for other unique whisky goods and gifts, and more Scotch-related stuff."
    }
  ]
}
{% endschema %}
