{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'simple-lightbox.css' | asset_url | stylesheet_tag }}
{{ 'home.css' | asset_url | stylesheet_tag }}
{{ 'snow.css' | asset_url | stylesheet_tag }}
{{ 'simple-lightbox.min.js' | asset_url | script_tag }}

{%- if section.settings.show_snow -%}
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
  </div>
{%- endif -%}

{%- if section.settings.show_banner -%}
  <div class="banner">
    <div class="ticker-wrap">
      <div class="ticker">
        <div class="ticker__item">
          {{ section.settings.banner_text }}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

<section class="header-image tight-header">
  <h2 class="page-title-wb">
    {{ section.settings.title }}
    <a href="{{ section.settings.get_started_button_url }}" class="get-started pulse">→</a>
  </h2>
  <video autoplay="" muted="" loop="" playsinline="" poster="{{ section.settings.hero_poster }}">
    <source src="{{ section.settings.hero_video }}" type="video/mp4">
    <source src="{{ section.settings.hero_video_webm }}" type="video/webm">
  </video>
</section>
<section class="standard">
  <article class="upwards">
    <p class="intro">Look at you! You've only gone and found the greatest website you're likely to see*!</p>
    <ul class="imageGallery1 gallery">
      <li class="image-1">
        <a href="{{ section.settings.gallery_image1 | image_url}}">
          <img
            width="236"
            height="236"
            src="{{ section.settings.gallery_image1 | image_url: width:236, height: 236}}"
            alt="{{ section.settings.gallery_image1.alt }}"
        ></a>
      </li>
      <li class="image-2">
        <a href="{{ section.settings.gallery_image2 | image_url}}">
          <img
            width="236"
            height="236"
            src="{{ section.settings.gallery_image2 | image_url: width:236, height: 236}}"
            alt="{{ section.settings.gallery_image2.alt }}"
        ></a>
      </li>
      <li class="image-3">
        <a href="{{ section.settings.gallery_image3 | image_url}}">
          <img
            width="236"
            height="236"
            src="{{ section.settings.gallery_image3 | image_url: width:236, height: 236}}"
            alt="{{ section.settings.gallery_image3.alt }}"
        ></a>
      </li>
      <li class="image-4">
        <a href="{{ section.settings.gallery_image4 | image_url}}">
          <img
            width="236"
            height="236"
            src="{{ section.settings.gallery_image4 | image_url: width:236, height: 236}}"
            alt="{{ section.settings.gallery_image4.alt }}"
        ></a>
      </li>
    </ul>
    <p class="help">* today... that's about Scotch whisky &mdash; says <a href="yas.html">us</a>!</p>
    <div class="home-image2">
      <img
        width="300"
        height="112"
        src="{{ section.settings.signature_image | image_url: width: 300, height: 112}}"
        alt="{{ section.settings.signature_image.alt }}"
      >
    </div>

    <span class="initial-button">
      <button class="pulse" onclick="window.location.href='{{ section.settings.get_started_button_url }}';">Start blending</button>
    </span>
  </article>
</section>

{% schema %}
{
  "name": "Landing Hero Banner",
  "presets": [
    {
      "name": "Landing Hero Banner - WB"
    }
  ],
  "settings": [
        {
      "type": "textarea",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "Look at you! You've only gone and found the greatest website you're likely to see*!"
    },
    {
      "type": "textarea",
      "id": "help_text",
      "label": "Help Text",
      "default": "* today... that's about Scotch whisky — says us!"
    },
    {
      "type": "image_picker",
      "id": "signature_image",
      "label": "Signature Image 2"
    },
        {
  "type": "checkbox",
  "id": "show_snow",
  "label": "Show Snow",
  "default": true
},
    {
  "type": "checkbox",
  "id": "show_banner",
  "label": "Show Banner",
  "default": true
},
        {
      "type": "text",
      "id": "banner_text",
      "label": "Banner Text",
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Your Own Whisky"
    },
    {
      "type": "url",
      "id": "hero_video",
      "label": "Hero Video"
    },
    {
      "type": "url",
      "id": "hero_video_webm",
      "label": "Hero Video Webm"
    },
    {
      "type": "image_picker",
      "id": "hero_poster",
      "label": "Hero Poster"
    },
    {
      "type": "url",
      "id": "get_started_button_url",
      "label": "Get Started Button URL"
    },
    {
      "type": "text",
      "id": "start_button_label",
      "label": "Start Button Label",
      "default": "Get Started"
    },
    {
      "type": "image_picker",
      "id": "gallery_image1",
      "label": "Gallery Image 1"
    },
        {
      "type": "image_picker",
      "id": "gallery_image2",
      "label": "Gallery Image 2"
    },    {
      "type": "image_picker",
      "id": "gallery_image3",
      "label": "Gallery Image 3"
    },    {
      "type": "image_picker",
      "id": "gallery_image4",
      "label": "Gallery Image 4"
    }
  ]
}
{% endschema %}
