{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'lab.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}
{{ 'basket.css' | asset_url | stylesheet_tag }}

{{ 'glide.min.js' | asset_url | script_tag }}
{{ 'glide.core.css' | asset_url | stylesheet_tag }}
{{ 'glide.theme.css' | asset_url | stylesheet_tag }}
{{ 'glide.custom.css' | asset_url | stylesheet_tag }}
<script type="text/javascript">
window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
    }
}
// Source - https://stackoverflow.com/a/24400865
// Posted by Amin Jafari, modified by community. See post 'Timeline' for change history
// Retrieved 2026-02-13, License - CC BY-SA 4.0

setTimeout(function(){
    window.location.reload(); // you can pass true to reload function to ignore the client cache and reload from the server
},delayTime); //delayTime should be written in milliseconds e.g. 1000 which equals 1 second

  </script>
<script src="{{ 'main-single.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'confetti.min.js' | asset_url }}" defer="defer"></script>

<div id="bottle-page" class="label">
  <section class="standard crop">
    <article class="hang-right">
      <div class="bump">
        <h4 class="breadcrumbs">
          <a aria-label="Breadcrumb" href="{{ routes.root_url }}"> Home</a>
          /
          <a aria-label="Breadcrumb" href="/pages/blend"> Custom blend</a>
        </h4>

        <h3>{{ product.title }}</h3>
        <ul class="product-summary">
          {% if product.type != blank %}
            <li>{{ product.type }}</li>
          {% endif %}
          {% for option in product.options_with_values %}
            {% if option.name == 'Bottle size' or option.name == 'Size' %}
              <li>
                {% for value in option.values %}
                  {%- if forloop.length > 0 -%}
                    {{ value }}
                    {% unless forloop.last %}/{% endunless %}
                  {% endif %}
                {% endfor %}
              </li>
            {% endif %}
          {% endfor %}
          {% if product.metafields.custom.abv != blank %}
            <li>{{ product.metafields.custom.abv }} abv</li>
          {% endif %}
        </ul>

        <ul class="socials">
          <li>
            <a
              class="x"
              href="https://twitter.com/share?url=whiskyblender.com/WB53711&text=I made my own blend on @whisky_blender. Check it out!"
              target="_blank"
              >X</a
            >
          </li>
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/sharer/sharer.php?u=whiskyblender.com/WB53711"
              target="_blank"
              >Facebook</a
            >
          </li>
          <li>
            <a
              class="reddit"
              href="https://reddit.com/submit?url=whiskyblender.com/WB53711&title=I made my own blend on whiskyblender.com"
              target="_blank"
              >Reddit</a
            >
          </li>
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/shareArticle?url=whiskyblender.com/WB53711&title=My own whisky&summary=I made my own blend on whiskyblender.com&source=whiskyblender.com"
              target="_blank"
              >LinkedIn</a
            >
          </li>
          <li>
            <a
              class="email"
              href="mailto:?subject=My own whisky&body=I made my own blend on @whisky_blender. Check it out! whiskyblender.com/WB5371"
              target="_blank"
              >Email</a
            >
          </li>
        </ul>
        <ul class="bottle-recipe">
          {% if product.description contains '20cl:' %}
            {% assign product_description_array_initial = product.description | split: '20cl:' %}
            {% assign product_description_array_initial_dupe = product_description_array_initial[0] | split: '50cl:' %}
            {% assign product_description_array = product_description_array_initial_dupe[1] | split: '<p>' %}
          {% else %}
            {% assign product_description_array = product.description | split: '<p>' %}
          {% endif %}
          <script>
            console.log({{product_description_array}});
          </script>

          {% assign total_possible = 20 %}
          {% assign descriptions = '' %}
          {% assign values = '' %}

          {% for description in product_description_array %}
            {% if description != blank %}
              {% assign description_parts = description | split: ':' %}
              {% assign text = description_parts[0] | strip %}
              {% assign numeric_value = description_parts[1] | strip | remove: 'cl' | plus: 0 %}

              {% assign descriptions = descriptions | append: text | append: ',' %}
              {% assign values = values | append: numeric_value | append: ',' %}
            {% endif %}
          {% endfor %}

          {% assign descriptions_array = descriptions | split: ',' | slice: 0, descriptions.size | reverse %}
          {% assign values_array = values | split: ',' | slice: 0, values.size | reverse %}

          {% for value in values_array %}
            {% assign percentage = value | times: 100 | divided_by: total_possible %}

            <li class="option{{ forloop.index }}" style="display: block;">
              <span
                data-name="{{descriptions_array[forloop.index0] | strip_html}}"
                style="width: {{ percentage }}%;"
              >
                {{ descriptions_array[forloop.index0] }}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="bottle-visuals">
        <!--
          <div class="bottle-image" style="background-image: url(images/shop/rendered-image.jpg);"><span class="product-mask"></span>
          </div>
        -->
        <div id="lab-bottle">
          <div class="bag-layer" style="opacity: 0;"></div>
          <!-- opacity = show on completion -->
          <div class="cap-layer" style="opacity: 1;"></div>
          <!-- opacity = show on completion -->
          <div
            class="
                label-layer
              {% if product.type != blank and product.type == 'Blended Scotch Whisky' %}
                scotch {% endif %}
            "
            style="opacity: 1;"
          >
            <!-- opacity = show on completion (include "scotch" class if contains grain) -->
            <div id="outer">
              <div class="text color1">{{ product.title }}</div>
            </div>
            <div class="side">
              <div class="blender-name text color1">{{ product.vendor }}</div>
            </div>
            <div class="label-background"></div>
          </div>
          <div class="mask-layer"></div>
          <div class="top-layer"></div>
          <div class="middle-layer"></div>
          <div class="bottom-layer" style="background: rgb(220, 170, 60);">
            <!-- background = colour of liquid -->
            <div class="liquid" style="height: 0%;"></div>
            <!-- height % = space left in bottle -->
          </div>
          <div class="base-layer"></div>
        </div>
      </div>
    </article>
    <article class="whatsincluded">
      <ul>
        <li>
          <img
            width="1080"
            height="1080"
            src="{{ section.settings.whats_include_1_image | image_url: width:1080, height: 1080}}"
            alt="{{ section.settings.whats_include_1_image.alt }}"
          >
          <div class="extra-deetz">
            <h5>{{ section.settings.whats_include_1_title }}</h5>
            <p class="help">{{ section.settings.whats_include_1_text }}</p>
          </div>
        </li>

        <li>
          <img
            width="1080"
            height="1080"
            src="{{ section.settings.whats_include_2_image | image_url: width:1080, height: 1080}}"
            alt="{{ section.settings.whats_include_2_image.alt }}"
          >
          <div class="extra-deetz">
            <h5>{{ section.settings.whats_include_2_title }}</h5>
            <p class="help">{{ section.settings.whats_include_2_text }}</p>
          </div>
        </li>

        <li>
          <img
            width="1080"
            height="1080"
            src="{{ section.settings.whats_include_3_image | image_url: width:1080, height: 1080}}"
            alt="{{ section.settings.whats_include_3_image.alt }}"
          >
          <div class="extra-deetz">
            <h5>{{ section.settings.whats_include_3_title }}</h5>
            <p class="help">{{ section.settings.whats_include_3_text }}</p>
          </div>
        </li>

        <li>
          <img
            width="1080"
            height="1080"
            src="{{ section.settings.whats_include_4_image | image_url: width:1080, height: 1080}}"
            alt="{{ section.settings.whats_include_4_image.alt }}"
          >
          <div class="extra-deetz">
            <h5>{{ section.settings.whats_include_4_title }}</h5>
            <p class="help">{{ section.settings.whats_include_4_text }}</p>
          </div>
        </li>
      </ul>
    </article>
    <!--<p><center>US customers save on postage when purchasing multiple bottles</center></p>-->
  </section>

  {% render 'product-selector' %}
</div>

<style id="bar-colors"></style>

{% javascript %}

  

{% endjavascript %}

{% schema %}
{
  "name": "Main single",
  "presets": [
    {
      "name": "Main single"
    }
  ],
  "settings": [
            {
      "type": "image_picker",
      "id": "whats_include_1_image",
      "label": "whats_include_1_image"
    },
                {
      "type": "text",
      "id": "whats_include_1_title",
      "label": "whats_include_1_title"
    },
                {
      "type": "text",
      "id": "whats_include_1_text",
      "label": "whats_include_1_text"
    },

                {
      "type": "image_picker",
      "id": "whats_include_2_image",
      "label": "whats_include_2_image"
    },
                {
      "type": "text",
      "id": "whats_include_2_title",
      "label": "whats_include_2_title"
    },
                {
      "type": "text",
      "id": "whats_include_2_text",
      "label": "whats_include_2_text"
    },

                {
      "type": "image_picker",
      "id": "whats_include_3_image",
      "label": "whats_include_3_image"
    },
                {
      "type": "text",
      "id": "whats_include_3_title",
      "label": "whats_include_3_title"
    },
                {
      "type": "text",
      "id": "whats_include_3_text",
      "label": "whats_include_3_text"
    },

                {
      "type": "image_picker",
      "id": "whats_include_4_image",
      "label": "whats_include_4_image"
    },
                {
      "type": "text",
      "id": "whats_include_4_title",
      "label": "whats_include_4_title"
    },
                {
      "type": "text",
      "id": "whats_include_4_text",
      "label": "whats_include_4_text"
    },
  ]
}
{% endschema %}
