{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'home.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}

<script src="{{ 'main-general.js' | asset_url }}" defer="defer"></script>
{{ 'glide.min.js' | asset_url | script_tag }}
{{ 'glide.core.css' | asset_url | stylesheet_tag }}
{{ 'glide.theme.css' | asset_url | stylesheet_tag }}
{{ 'glide.custom.css' | asset_url | stylesheet_tag }}
<div id="product-page">
  <section class="standard">
    <article>
      <h4>
        <a aria-label="Breadcrumb" href="/"> Home</a>
        /
        <a aria-label="Breadcrumb" href="/pages/shop"> Shop</a>
        /
        <a aria-label="Breadcrumb" href="/collections"> Collections</a>
        /
        {% for collection in product.collections %}
          {% unless collection.handle == 'promoted' %}
            <a class="any-link breadcrumb" aria-label="Breadcrumb" href="{{ collection.url }}">
              {{- collection.title -}}
            </a>
          {% endunless %}
        {% endfor %}
      </h4>

      <h3>{{ product.title }}</h3>
      <ul class="product-summary">
        {% if product.type != blank %}
          <li>{{ product.type }}</li>
        {% endif %}
        {% for option in product.options_with_values %}
          {% if option.name == 'Bottle size' %}
            <li>
              {% for value in option.values %}
                {%- if forloop.length > 0 -%}
                  {{ value }}
                  {% unless forloop.last %}/{% endunless %}
                {% endif %}
              {% endfor %}
            </li>
          {% endif %}
        {% endfor %}
        {% if product.metafields.custom.abv != blank %}
          <li>{{ product.metafields.custom.abv }} abv</li>
        {% endif %}
      </ul>
      <ul class="socials">
        <li>
          <a class="x" href="https://twitter.com/share?url=[URL]&text=[Product name]" target="_blank">X</a>
        </li>
        <li>
          <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=[URL]" target="_blank">Facebook</a>
        </li>
        <li>
          <a class="reddit" href="https://reddit.com/submit?url=[URL]&title=[Product name]" target="_blank">Reddit</a>
        </li>
        <li>
          <a
            class="linkedin"
            href="https://www.linkedin.com/shareArticle?url=[URL]&title=[Product name]&summary=Check this out!&source=whiskyblender.com"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a class="email" href="mailto:?subject=[Product name]&body=Check this out! [URL]" target="_blank">Email</a>
        </li>
      </ul>
      <div class="glide thumbnails">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {% for image in product.images %}
              <li class="glide__slide">
                <img
                  height="auto"
                  width="auto"
                  src="{{ image.src | image_url: width: 904, height: 542 }}"
                  alt="{{ image.alt | escape }}"
                >
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">Previous</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">Next</button>
        </div>
      </div>
      <p>
        {{ product.description }}
      </p>
    </article>
  </section>

  {% render 'product-selector-v2' %}
</div>
{% javascript %}
  new Glide('.glide', {
      type: 'carousel',
      gap: 20
  }).mount()
{% endjavascript %}
