{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}

<div id="shop-page">
  <section class="standard">
    <article>
      <h4 class="breadcrumbs"><a href="/">Home</a> / <a href="/pages/shop">Shop</a></h4>
      <h3>Collections</h3>
      <ul class="collections">
        <ul>
          {% assign excluded_collections = section.settings.excluded_collections_list | split: ', ' %}
          {%- for collection in collections -%}
            {% unless excluded_collections contains collection.title %}
              <li style="background-image: url({{ collection.image | image_url }}) ;">
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
            {% endunless %}
          {%- endfor -%}
        </ul>
      </ul>
    </article>
  </section>
  <section class="banding">
    <article class="max">
      <button onclick="location.href='shop.html';" class="secondary-button">The big shop</button>
    </article>
  </section>

  <section class="banding">
    <article class="max">
      <button onclick="location.href='/pages/shop';" class="secondary-button">The big shop</button>
    </article>
  </section>
</div>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "excluded_collections_list",
      "label": "excluded_collections"
    }
  ]
}
{% endschema %}
