{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'home.css' | asset_url | stylesheet_tag }}
{{ 'lab.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}
{{ 'basket.css' | asset_url | stylesheet_tag }}

<section class="standard">
  <article class="hang-right">
    <div class="bump">
      <h4>
        <a class="any-link breadcrumb" aria="Breadcrumb" href="/"> Home</a>
        /
        <a class="any-link breadcrumb" aria-label="Breadcrumb" href="/pages/shop"> Shop</a>
        /
        <a class="any-link breadcrumb" aria-label="Breadcrumb" href="/collections"> Collections</a>
        /
        {% for collection in product.collections %}
          {% unless collection.handle == 'promoted' %}
            <a class="any-link breadcrumb" aria-label="Breadcrumb" href="{{ collection.url }}">
              {{- collection.title -}}
            </a>
          {% endunless %}
        {% endfor %}
      </h4>

      <h3>{{ product.title }}</h3>
      <ul class="product-summary">
        {% if product.type != blank %}
          <li>{{ product.type }}</li>
        {% endif %}
        {% for option in product.options_with_values %}
          {% if option.name == 'Size' %}
            <li>
              {% for value in option.values %}
                {%- if forloop.length > 0 -%}
                  {{ value }}
                  {% unless forloop.last %}/{% endunless %}
                {% endif %}
              {% endfor %}
            </li>
          {% endif %}
        {% endfor %}
        {% if product.metafields.custom.abv != blank %}
          <li>{{ product.metafields.custom.abv }} abv</li>
        {% endif %}
      </ul>
      <ul class="socials">
        <li>
          <a
            class="x"
            href="https://twitter.com/share?url=whiskyblender.com/WB53711&amp;text=I made my own blend on @whisky_blender. Check it out!"
            target="_blank"
            >X</a
          >
        </li>
        <li>
          <a
            class="facebook"
            href="https://www.facebook.com/sharer/sharer.php?u=whiskyblender.com/WB53711"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="reddit"
            href="https://reddit.com/submit?url=whiskyblender.com/WB53711&amp;title=I made my own blend on whiskyblender.com"
            target="_blank"
            >Reddit</a
          >
        </li>
        <li>
          <a
            class="linkedin"
            href="https://www.linkedin.com/shareArticle?url=whiskyblender.com/WB53711&amp;title=My own whisky&amp;summary=I made my own blend on whiskyblender.com&amp;source=whiskyblender.com"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            class="email"
            href="mailto:?subject=My own whisky&amp;body=I made my own blend on @whisky_blender. Check it out! whiskyblender.com/WB5371"
            target="_blank"
            >Email</a
          >
        </li>
      </ul>
      <ul class="bottle-recipe">
        <li class="option1" style="display: block;">
          <!-- none = not used in blend -->
          <span style="width: 40%;">Charred marshmallow</span>
          <!-- % = amount of option in blend -->
        </li>
        <li class="option2" style="display: block;">
          <!-- none = not used in blend -->
          <span style="width: 100%;">Malted bacon</span>
          <!-- % = amount of option in blend -->
        </li>
        <li class="option3" style="display: block;">
          <!-- none = not used in blend -->
          <span style="width: 25%;">Spicy beeswax</span>
          <!-- % = amount of option in blend -->
        </li>
        <li class="option4" style="display: none;">
          <!-- none = not used in blend -->
          <span style="width: 0%;">Salty butter</span>
          <!-- % = amount of option in blend -->
        </li>
        <li class="option5" style="display: none;">
          <!-- none = not used in blend -->
          <span style="width: 0%;">Banana split</span>
          <!-- % = amount of option in blend -->
        </li>
      </ul>
    </div>
    <div class="bottle-visuals">
      <!--
        <div class="bottle-image" style="background-image: url(images/shop/rendered-image.jpg);"><span class="product-mask"></span>
        </div>
      -->
      <div id="lab-bottle">
        <div class="bag-layer" style="opacity: 0;"></div>
        <!-- opacity = show on completion -->
        <div class="cap-layer" style="opacity: 1;"></div>
        <!-- opacity = show on completion -->
        <div class="label-layer" style="opacity: 1;">
          <!-- opacity = show on completion (include "scotch" class if contains grain) -->
          <div id="outer">
            <div class="text color1" style="font-size: 40.5px; line-height: 31.08px;">Best dram</div>
          </div>
          <div class="side">
            <div class="blender-name text color1" style="font-size: 50.5px; line-height: 38.11px;">The best man</div>
          </div>
        </div>
        <div class="mask-layer"></div>
        <div class="top-layer"></div>
        <div class="middle-layer"></div>
        <div class="bottom-layer" style="background: rgb(204, 174, 60);">
          <!-- background = colour of liquid -->
          <div class="liquid" style="height: 0%;"></div>
          <!-- height % = space left in bottle -->
        </div>
        <div class="base-layer"></div>
      </div>
    </div>
  </article>
</section>

{% render 'product-selector' %}

<style id="bar-colors"></style>

<script src="{{ 'main-single.js' | asset_url }}" defer="defer"></script>
