{{ 'fonts-wb.css' | asset_url | stylesheet_tag }}
{{ 'shop.css' | asset_url | stylesheet_tag }}

{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'snow.css' | asset_url | stylesheet_tag }}

{%- if section.settings.show_snow and collection.title == 'Festive cheers' -%}
  <div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
    <div class="snowflake">
      <div class="inner">❅</div>
    </div>
  </div>
{%- endif -%}

{%- if section.settings.show_collection_image and collection.image -%}
  <section class="header-image tight-header" style="background-image: url({{ collection.image | image_url }}) ;">
    <h4 class="breadcrumbs"><a href="/">Home</a> / <a href="/pages/shop">Shop</a> / <a href="/collections">Collections</a></h4>
    <h2>{{ collection.title }}</h2>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
            {
  "type": "checkbox",
  "id": "show_snow",
  "label": "Show Snow",
  "default": true
}
  ]
}
{% endschema %}
