<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  <section class="standard">
    <article class="upwards">
      <p class="intro">
        {{ collection.description }}
      </p>

      <ul class="product-list">
        {%- for product in collection.products -%}
          <li>
            <a
              href="{{ product.url }}"
              style="background-image: url({{ product.featured_image | img_url: '1000x1000' }})"
            >
              <img src="https://cdn.shopify.com/s/files/1/0846/7592/0200/files/square.gif?v=1730910705">

              <span class="deetz single-casks-details">
                <h4>{{ product.title }}</h4>
                <div class="reveal">
                                  <p>{{ product.type | truncate: 30 }}</p>

                  {% if product.available == false %}
                    <!-- Product is out of stock -->
                    <sup> Out of stock</sup>
                  {% else %}
                    <sup class="buy pulse">{{ product.price | money }}</sup>
                  {% endif %}
                </div>
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
</div>
        <section class="banding">
            <article class="max">
                <button onclick="location.href='/collections';" class="secondary-button">Other collections</button>
            </article>
        </section>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings":[]
}
{% endschema %}
