{{ 'glide.min.js' | asset_url | script_tag }}
{{ 'glide.core.css' | asset_url | stylesheet_tag }}
{{ 'glide.theme.css' | asset_url | stylesheet_tag }}
{{ 'glide.custom.css' | asset_url | stylesheet_tag }}
<script src="{{ 'trustpilot-glide.js' | asset_url }}" defer="defer"></script>

<section class="banding">
  <article class="max">
    <div class="glide reviews" id="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides trustpilot" style="padding:20px;">
          {% if section.settings.review_1_text %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_1_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_1_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_2_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_2_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_2_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_3_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_3_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_3_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_4_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_4_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_4_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_5_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_5_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_5_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_6_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_6_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_6_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_7_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_7_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_7_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_8_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_8_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_8_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_9_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_9_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_9_text }}
                </a>
              </li>
          {% endif %}
          {% if section.settings.review_10_text != blank %}
              <li class="glide__slide">
                <a href="{{ section.settings.review_10_url }}" target="_blank">
                  <span class="stars"></span>{{ section.settings.review_10_text }}
                </a>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!--<button onclick="window.open('https://uk.trustpilot.com/review/whiskyblender.com')" class="secondary-button">
      More reviews
    </button>-->
    <!-- TrustBox widget - Review Collector -->
<div class="trustpilot-widget" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="67239b1cc65a99f755dc53dc" data-style-height="52px" data-style-width="100%">
  <a href="https://uk.trustpilot.com/review/whiskyblender.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
  </article>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
{% schema %}
{
  "name": "Trust Pilot",
  "settings": [
    {
  "type": "text",
  "id": "review_1_text",
  "label": "review_1_text"
  },
  {
  "type": "url",
  "id": "review_1_url",
  "label": "review_1_url"
  },
        {
  "type": "text",
  "id": "review_2_text",
  "label": "review_2_text"
  },
  {
  "type": "url",
  "id": "review_2_url",
  "label": "review_2_url"
  },
        {
  "type": "text",
  "id": "review_3_text",
  "label": "review_3_text"
  },
  {
  "type": "url",
  "id": "review_3_url",
  "label": "review_3_url"
  },
        {
  "type": "text",
  "id": "review_4_text",
  "label": "review_4_text"
  },
  {
  "type": "url",
  "id": "review_4_url",
  "label": "review_4_url"
  },
        {
  "type": "text",
  "id": "review_5_text",
  "label": "review_5_text"
  },
  {
  "type": "url",
  "id": "review_5_url",
  "label": "review_5_url"
  },
        {
  "type": "text",
  "id": "review_6_text",
  "label": "review_6_text"
  },
  {
  "type": "url",
  "id": "review_6_url",
  "label": "review_6_url"
  },
    {
  "type": "text",
  "id": "review_7_text",
  "label": "review_7_text"
  },
  {
  "type": "url",
  "id": "review_7_url",
  "label": "review_7_url"
  },   {
  "type": "text",
  "id": "review_8_text",
  "label": "review_8_text"
  },
  {
  "type": "url",
  "id": "review_8_url",
  "label": "review_8_url"
  },
        {
  "type": "text",
  "id": "review_9_text",
  "label": "review_9_text"
  },
  {
  "type": "url",
  "id": "review_9_url",
  "label": "review_9_url"
  },
        {
  "type": "text",
  "id": "review_10_text",
  "label": "review_10_text"
  },
  {
  "type": "url",
  "id": "review_10_url",
  "label": "review_10_url"
  }
  ],
    "presets": [{ "name": "Trust Pilot" }],

}
{% endschema %}
