{{ 'glide.min.js' | asset_url | script_tag }}
{{ 'glide.core.css' | asset_url | stylesheet_tag }}
{{ 'glide.theme.css' | asset_url | stylesheet_tag }}
{{ 'glide.custom.css' | asset_url | stylesheet_tag }}

<section class="banding">
  <article class="max">
    <h3>{{ section.settings.title }} <br/> {{ section.settings.subtitle }}</h3>
    <p>
      {{ section.settings.intro_text }}
    </p>
    <div class="glide reviews glide--ltr glide--carousel glide--swipeable" id="glide">
      <div class="glide__track" data-glide-el="track">
        <ul
          class="glide__slides logos"
          style="transition: transform 3000ms linear; width: 6912px; transform: translate3d(-3982px, 0px, 0px);"
        >
          {% for block in section.blocks %}
            <li
              class="glide__slide {{ block.settings.logo_name | downcase | strip | remove:" " | remove: ":" | remove: "&"}}"
              style="width: 228px; margin-right: 30px;"
            >
              <a href="{{ block.settings.logo_url }}" target="_blank">Great Drams</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
</section>

{% schema %}
{
  "name": "Yass! - Famous",
  "presets": [
    {
      "name": "Yass! - Famous"
    }
  ],
  "tag": "div",
  "class": "yaldy-famous",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
    },
        {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
    },
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "Some of the places we've been featured over the years."
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "text",
          "id": "logo_name",
          "label": "Logo name"
        },
                {
          "type": "url",
          "id": "logo_url",
          "label": "Logo url"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
        new Glide('.glide', {
            type: 'carousel',
            gap: 60,
            perView: 3,
            autoplay: 1,
            animationDuration: 3000,
            animationTimingFunc: 'linear',
            hoverpause: true,
            peek: {
                before: 50,
                after: 50
            },
            breakpoints: {
                767: { perView: 2, gap: 10, peek: {
                before: 5,
                after: 5
            } }
            }
        }).mount()
{% endjavascript %}
