{{ 'yas.css' | asset_url | stylesheet_tag }}
{{ 'owl.css' | asset_url | stylesheet_tag }}

<section class="banding yas-famous-section">
  <article class="max container-wb">
    <h3 class="section-title-wb">
      {{ section.settings.title -}}
      <br>
      {{ section.settings.subtitle }}
    </h3>
    <p>{{ section.settings.intro_text }}</p>
  </article>
  <div id="featured-slider-wb" class="owl-carousel ">
    {% for block in section.blocks %}
      <img
        class="yaldy-image-{{ forloop.index }}"
        height="100"
        width="auto"
        style="
          object-fit: contain;
          object-position: center top;
        "
        src="{{ block.settings.image_url | image_url: width: 200, height: 100 }}"
        alt="{{ block.settings.image_url.alt }}"
      >
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Yass! - Famous",
  "presets": [
    {
      "name": "Yass! - Famous"
    }
  ],
  "tag": "div",
  "class": "yaldy-famous",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Look, maw!"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "We're famous!"
    },
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "Some of the places we've been featured over the years."
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_url",
          "label": "Image URL"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"
></script>
<script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>

<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 60,
      nav: false,
      autoplay: true,
      mouseDrag: false,
      autoplayHoverPause: false,
      autoWidth: true,
      slideTransition: 'linear',
      autoplaySpeed: 6000,
      smartSpeed: 6000,
      center: true,
    });
  });
  console.log('Yass! - Famous');
</script>
